fastapi
uvicorn
elasticsearch
google-generativeai==0.8.5

pydantic
python-dotenv
google-cloud-texttospeech
langchain-elasticsearch
langchain
langchain_google_genai
sentence-transformers==2.7.0
eland
transformers
torch
tqdm
Pillow
