fastapi
uvicorn
elasticsearch
google-genai

pydantic
python-dotenv
google-cloud-texttospeech
langchain-elasticsearch
langchain
langchain_google_genai
sentence-transformers==2.7.0
eland
transformers
torch
tqdm
Pillow
